@charset "UTF-8";
/* ************************************* Reset ***************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.color-primary {
  color: #9356DC;
}

.color-secondary {
  color: #FF79DA;
}

.color-tertiary {
  color: #99E2D0;
}

body {
  margin: 0;
  width: auto;
}
body header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 3;
  display: flex;
}
body header nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
body header img {
  display: flex;
  justify-content: center;
  margin: auto;
}
body main .images-resto1 {
  width: 100%;
  z-index: -1;
  position: relative;
  overflow: visible;
  height: 200px;
}
body main .images-resto1 img {
  width: 100%;
  height: auto;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .restaurant1-menucard {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
body main .restaurant1-menucard .restaurant1-menutitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
body main .restaurant1-menucard .restaurant1-menutitle h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}
body main .restaurant1-menucard .restaurant1-menutitle .coeur-logo img {
  width: 22px;
  height: 21px;
  margin-top: 22px;
}
body main .restaurant1-menucard .restaurant1-menu-entrées {
  padding-top: 40px;
}
body main .restaurant1-menucard .restaurant1-menu-entrées .menu-entrées-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
  padding-bottom: 5px;
}
body main .restaurant1-menucard .restaurant1-menu-entrées .menu-entrées-title .entrées-underline {
  -webkit-text-decoration: underline 3px #99E2D0;
          text-decoration: underline 3px #99E2D0;
  position: relative;
}
body main .restaurant1-menucard .restaurant1-menu-entrées .entrées1 {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  gap: 5px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}
body main .restaurant1-menucard .restaurant1-menu-entrées .entrées1 .entrées-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
body main .restaurant1-menucard .restaurant1-menu-entrées .entrées1 .position-sub-tarifs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main .restaurant1-menucard .restaurant1-menu-entrées .entrées1 .position-sub-tarifs .tarifs {
  font-weight: 700;
}
body main .restaurant1-menucard .restaurant1-menu-entrées .entrées1 .position-sub-tarifs .entrées-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
body main .restaurant1-menucard .restaurant1-menu-plats {
  padding-top: 40px;
}
body main .restaurant1-menucard .restaurant1-menu-plats .menu-plats-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
  padding-bottom: 5px;
}
body main .restaurant1-menucard .restaurant1-menu-plats .menu-plats-title .plats-underline {
  -webkit-text-decoration: underline 3px #99E2D0;
          text-decoration: underline 3px #99E2D0;
  position: relative;
}
body main .restaurant1-menucard .restaurant1-menu-plats .plats1 {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  gap: 5px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}
body main .restaurant1-menucard .restaurant1-menu-plats .plats1 .plats-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
body main .restaurant1-menucard .restaurant1-menu-plats .plats1 .position-sub-tarifs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main .restaurant1-menucard .restaurant1-menu-plats .plats1 .position-sub-tarifs .tarifs {
  font-weight: 700;
}
body main .restaurant1-menucard .restaurant1-menu-plats .plats1 .position-sub-tarifs .plats-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
body main .restaurant1-menucard .restaurant1-menu-desserts {
  padding-top: 40px;
}
body main .restaurant1-menucard .restaurant1-menu-desserts .menu-desserts-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
  padding-bottom: 5px;
}
body main .restaurant1-menucard .restaurant1-menu-desserts .menu-desserts-title .dessert-underline {
  -webkit-text-decoration: underline 3px #99E2D0;
          text-decoration: underline 3px #99E2D0;
  position: relative;
}
body main .restaurant1-menucard .restaurant1-menu-desserts .desserts1 {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  gap: 5px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}
body main .restaurant1-menucard .restaurant1-menu-desserts .desserts1 .desserts-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
body main .restaurant1-menucard .restaurant1-menu-desserts .desserts1 .position-sub-tarifs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main .restaurant1-menucard .restaurant1-menu-desserts .desserts1 .position-sub-tarifs .tarifs {
  font-weight: 700;
}
body main .restaurant1-menucard .restaurant1-menu-desserts .desserts1 .position-sub-tarifs .desserts-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
body main .restaurant1-menucard .commander {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
body main .restaurant1-menucard .commander button {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  margin-bottom: 10px;
}
body main .localisation-restaurant {
  background-color: #EAEAEA;
  padding: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}
body main .localisation-restaurant form {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 20px;
  justify-content: center;
}
body main .localisation-restaurant input {
  border: none;
  background-color: #EAEAEA;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
  max-width: 130px;
  text-align: center;
}
body main .presentation {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  align-items: center;
  text-align: center;
}
body main .presentation h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  display: flex;
}
body main .presentation p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 20px;
  font-weight: 300;
  color: #353535;
}
body main .presentation a {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  margin-bottom: 40px;
  text-decoration: none;
  transition: 0.5s;
}
body main .presentation a:hover {
  opacity: 80%;
  transition: 0.5s;
}
body main h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
}
body main .fonctionnement {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
body main .fonctionnement .choisissez-un-restaurant {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin: 25px;
  padding: 20px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}
body main .fonctionnement .choisissez-un-restaurant .fonctionnement-number1 {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  font-size: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10px;
  color: white;
}
body main .fonctionnement .choisissez-un-restaurant .telephone-logo {
  padding-left: 10px;
}
body main .fonctionnement .choisissez-un-restaurant .choix-restaurant {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 40px;
  font-size: 16px;
}
body main .fonctionnement .composez-votre-menu {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin: 25px;
  padding: 20px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}
body main .fonctionnement .composez-votre-menu .fonctionnement-number2 {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  font-size: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10px;
  color: white;
}
body main .fonctionnement .composez-votre-menu .menu-logo {
  padding-left: 10px;
}
body main .fonctionnement .composez-votre-menu .composition-menu {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 40px;
  font-size: 16px;
}
body main .fonctionnement .degustez-au-restaurant {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin: 25px;
  padding: 20px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}
body main .fonctionnement .degustez-au-restaurant .fonctionnement-number3 {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  font-size: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -10px;
  color: white;
}
body main .fonctionnement .degustez-au-restaurant .resto-logo {
  padding-left: 10px;
}
body main .fonctionnement .degustez-au-restaurant .deguster-restaurant {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 40px;
  font-size: 16px;
}
body main .restaurant_title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
body main .restaurants {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #F6F6F6;
}
body main .restaurants .restaurant-card a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 20px;
}
body main .restaurants .restaurant-card a .card-resto {
  width: 90%;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}
body main .restaurants .restaurant-card a .card-resto-img {
  width: 100%;
  height: 231px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .restaurants .restaurant-card a .card-resto-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
body main .restaurants .restaurant-card a .card-resto-content .card-title {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
  margin: 10px;
  font-size: 18px;
}
body main .restaurants .restaurant-card a .card-resto-content .card-subtitle {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 10px;
  font-size: 17px;
  font-weight: 300;
}
body main .restaurants .restaurant-card a .nouveau-logo .text-nouveau-logo span {
  background-color: #99E2D0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #008766;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}
body main .restaurants .restaurant-card a .coeur-logo {
  position: absolute;
  right: 30px;
  top: 270px;
  transition-duration: 5s;
}
body main .restaurants .restaurant-card a .coeur-logo img:hover {
  transition-duration: 5s;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}
body footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
}
body footer .ohmyfood-logo-blanc {
  font-family: "Shrikhand", cursive;
  color: white;
  padding-left: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
body footer .proposer-un-restaurant {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-bottom: 20px;
  gap: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  align-items: center;
}
body footer .devenir-partenaire {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-bottom: 20px;
  gap: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  align-items: center;
}
body footer .devenir-partenaire img {
  width: 14px;
}
body footer .mentions {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  padding-left: 20px;
  padding-bottom: 20px;
}
body footer a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  align-items: center;
}

@media (min-width: 900px) {
  body main .fonctionnement-title {
    margin-left: 20px;
  }
  body main .fonctionnement {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  body main .fonctionnement .choisissez-un-restaurant {
    padding-right: 60px;
  }
  body main .fonctionnement .composez-votre-menu {
    padding-right: 60px;
  }
  body main .fonctionnement .degustez-au-restaurant {
    padding-right: 60px;
  }
  body main .restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  body footer {
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-end;
  }
  body footer .logo-blanc {
    position: absolute;
    bottom: 40px;
    right: 20px;
    font-size: 22px;
    margin: 0;
  }
  body footer .proposer-un-restaurant {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
  body footer .devenir-partenaire {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
  body footer .mentions {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
  body footer a {
    display: flex;
    align-items: center;
    padding-right: 200px;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */