.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.color-primary { color: #9356DC;}

.color-secondary { color: #FF79DA;}

.color-tertiary { color: #99E2D0;}


